@media (max-width: 1200px) {
    .sidebar {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        background-color: white;
        width: 72px;
        z-index: 200;
        padding-top: 5px;
    }

    .sidebar-link {
        background-color: white;
        height: 74px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sidebar-link:hover {
        background-color: rgb(235, 235, 235);
        cursor: pointer;
    }

    .sidebar-link img {
        height: 24px;
        margin-bottom: 4px;
    }

    .sidebar-link div {
        font-size: 10px;
    }

}

@media (min-width: 1201px) {

    .sidebar {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        background-color: white;
        width: 242px;
        z-index: 200;
        padding-top: 5px;
    }

    .sidebar-link {
        background-color: white;
        height: 66px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .sidebar-link:hover {
        background-color: rgb(235, 235, 235);
        cursor: pointer;
    }

    .sidebar-link img {
        margin-left: 26px;
        margin-right: 26px;
        height: 28px;
        margin-top: 2px;
    }

    .sidebar-link div {
        font-size: 14px;
    }
    

}