.color-svg {
  fill: white;
}

.header-content {
  padding-top: 90px;
  display: flex;
  height: 664px;
  flex-direction: row;
}

.svg-container {
  width: 56%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title-text {
  color: white;
  font-weight: 900;
  font-size: 68px;
  letter-spacing: 0.5px;
  width: 500px;
  margin-top: 24px;
  line-height: 90px;
  margin-bottom: 30px;
}

.inscription-text {
  color: white;
  font-weight: 700;
  font-size: 37px;
}

.button-google {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: center;

  border: none;
  background-color: white;
  cursor: pointer;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 9px;
  padding-right: 8px;

  border-radius: 30px;

  margin-top: 28px;
  margin-bottom: 18px;

}



.img-google {
  width: 20px;
  height: 20px;
  object-fit: cover;
  object-position: center;
  border-radius: 40px;
}

.button-google-box-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 40px;
}

.connexion-text {
  font-size: 12px;
  letter-spacing: 0.5px;
  color: rgb(10, 10, 10);
  font-weight: 500;
}

.email {
  color: rgb(58, 58, 58);
  font-size: 11px;
  letter-spacing: 0.5px;
  text-align: left;
}

.apple-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border:none;
  padding-left: 68px;
  padding-right: 68px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
}

.apple-button-container {
  display: flex;
  flex-direction: row;
}

.logo-apple, .apple-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.apple-text {
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 400;
}