.color-svg {
  fill: white;
}

.header-content {
  padding-top: 90px;
  display: flex;
  height: 664px;
  flex-direction: row;
}

.svg-container {
  width: 56%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title-text {
  color: white;
  font-weight: 900;
  font-size: 68px;
  letter-spacing: 0.5px;
  width: 500px;
  margin-top: 24px;
  line-height: 90px;
  margin-bottom: 30px;
}

.inscription-text {
  color: white;
  font-weight: 700;
  font-size: 37px;
}

.button-google {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: center;

  
  background-color: white;
  cursor: pointer;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 9px;
  padding-right: 8px;

  border-radius: 30px;

  margin-top: 28px;
  margin-bottom: 18px;

  border-style: solid;
  border-width: 1px;
  border-color: rgb(236, 236, 236);

  transition: background-color 0.15s, box-shadow 0.15s;

}



.img-google {
  width: 20px;
  height: 20px;
  object-fit: cover;
  object-position: center;
  border-radius: 40px;
}

.button-google-box-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 40px;
}

.connexion-text {
  font-size: 12px;
  letter-spacing: 0.5px;
  color: rgb(10, 10, 10);
  font-weight: 500;
}

.email {
  color: rgb(58, 58, 58);
  font-size: 11px;
  letter-spacing: 0.5px;
  text-align: left;
}

.apple-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding-left: 68px;
  padding-right: 68px;
  padding-top: 4px;
  padding-bottom: 3px;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(49, 49, 49);
  transition: background-color 0.15s, box-shadow 0.15s;
}

.apple-button-container {
  display: flex;
  flex-direction: row;
}

.logo-apple, .apple-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.apple-text {
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.or-container {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 316px;
}

.line-horizontal {
  height: 0.5px;
  background-color: rgb(62, 65, 68);
  width: 137px;
}

.or-text {
  color: white;
  font-weight: 300;
  font-size: 16px;
}

.container-button-compte {
  margin-top: 10px;
}

.new-compte {
  color: white;
  background-color: rgb(0, 151, 221);
  border: none;
  font-weight: 700;
  padding: 11px 96px 11px 96px;
  cursor: pointer;
  border-radius: 40px;
  font-size: 15px;
  transition: background-color 0.15s, box-shadow 0.15s;
}

.text-box-container {
  margin-top: 14px;
  width: 264px;
}

.usage-policy-text {
  font-size: 10.5px;
  color: rgb(78, 82, 87);
}

.no-space {
  word-spacing: -2px;
}

.link-usage-policy {
  color: rgb(29, 155, 240);
  text-decoration: none;
  font-weight: 300;
}

.account-question-text-container {
  margin-top: 57px;
}

.account-question-text {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.connexion-container {
  margin-top: 20px;
}

.connexion-button {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  color: rgb(29, 155, 240);
  background-color: rgba(0,0,0,0);
  font-weight: 700;
  padding: 10px 108px 10px 108px;
  cursor: pointer;
  border-radius: 40px;
  font-size: 15px;
  transition: background-color 0.15s;
}

.bottom-content {
  display: flex;
  flex: 1;
  height: 135px;
  margin-top: 20px;
  align-items: end;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;

}

.bottom-content-a-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 10px;
  color: rgb(78, 82, 87);
  font-size: 12px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  justify-content: center;
}

.bottom-content-a-section p {
  font-size: 14px;
}

.bottom-content-a-section .years-text {
  font-size: 12px;
}

.bottom-content-a-section a {
  text-decoration: none;
  color: rgb(78, 82, 87);
}

.bottom-content-a-section .link-box{
  margin-top: 1px;
}

a:hover {
  text-decoration: underline;
}

.link-text:hover {
  text-decoration: underline;
}

.apple-button:hover {
  background-color: rgb(223, 223, 223);
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.button-google:hover{
  background-color: rgb(234, 240, 255);
  box-shadow: inset 1px 1px 10px rgba(106, 199, 223, 0.1);
}

.apple-button:active {
  background-color: rgb(196, 196, 196);
}

.new-compte:hover {
  background-color: rgb(17, 144, 230);
  box-shadow: inset 4px 4px 20px rgba(0, 0, 0, 0.1)
}

.connexion-button:hover {
  background-color: rgba(17, 144, 230, 0.1);
}

.button-google:active {
  border-color: white;
}



.container-border-google-button {
  position:absolute;
  width: 314px;
  height: 41px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 40px;
  pointer-events: none;
}

.container-google-button {
  position: relative;
}

.button-google:active .container-border-google-button {
  border-width: 2px;
  border-color: rgba(24, 118, 206, 0.8);
  border-style: solid;
  top: -2px;
  left: -2px;
}